body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        footer {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        .menu-item {
            cursor: pointer;
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            display: inline-block;
            background-color: #fff;
            text-align: center;
        }
        
        .day-button {
        cursor: pointer;
        margin-bottom: 10px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        display: block;
        background-color: #333; /* Farbe für die Wochentage */
        color: #fff;
        text-align: left;
        }
        #day-selection {
        text-align: center;
        }

        .menu-item.selected {
            background-color: #ddd; /* Farbe für ausgewähltes Menü */
        }

        .menu-image {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 50%;
        }

        #main-menu {
            text-align: center;
            margin-top: 20px;
        }

        #menu-details {
            text-align: center;
            margin-top: 20px;
        }

        #start-screen {
            text-align: center;
            margin-top: 50px;
        }

        #start-screen button {
            margin: 10px;
            padding: 15px;
            font-size: 16px;
            cursor: pointer;
        }
        .allergen-icon {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 20px;
            font-weight: bold;
        }

        #allergen-filter {
            display: none;
        }
